<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <title> HOme</title>
  </head>
  <body>
      {{> header}}

      <p>  Welcome back to home! </p>
      {{> footer}}

  </body>
</html>
